{% extends "base.html"%} 

{% block titulo %} <title>TiendaOnline</title> {% endblock%}

{% block contenido%}

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Editar Producto</h1>
                <div class="card-header">
                        <h4 class="card-title">Editar producto</h4>
                    <div class="card-body">
                      {% include 'producto/form.html' %}
                    </div>
                    <div class="card-footer text-muted">
                        <a href="{% url 'productos' %}" class="btn btn-info">Volver <i class="bi bi-backspace"></i></a>
                    </div>
                  </div>
            </div>   
        </div>
    </div>

{% endblock%}